[submodule "3rdparty/AReaL"]
	path = 3rdparty/AReaL
	url = https://github.com/inclusionAI/AReaL.git
[submodule "3rdparty/sglang"]
	path = 3rdparty/sglang
	url = https://github.com/sgl-project/sglang.git
